<html>

<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <title>Summer League</title>
</head>

<body ng-app="league" ng-controller="LeagueCtrl">
    <div class="well">
        <!-- <pre>{{ fixtures }}</pre> -->
        <ul>
          <li ng-cloak ng-repeat="fixture in fixtures">
              <em>{{fixture.timestamp | date:'mediumDate'}}</em>{{fixture.result}}
          </li>
        </ul>
    </div>

    <div class="well">
        <!-- <pre>{{ golfers }}</pre> -->
        <form class="form-horizontal">
            <select class="form-control" name="home" ng-model="home">
                <option ng-repeat="golfer in golfers" value="{{ golfer.name }}"/>{{ golfer.name}}</option>       
            </select>
            beat
            <select class="form-control" name="away" ng-model="away">
                <option ng-repeat="golfer in golfers" value="{{ golfer.name }}"/>{{ golfer.name}}</option>    
            </select>
            <input type="button" class="btn btn-success" value="Add Result" ng-click="addFixture(home, away)">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script type="text/javascript">
    angular.module('league', ['firebase']).controller('LeagueCtrl', ['$scope', '$firebase',
        function($scope, $firebase) {
            var fixtures_ref = new Firebase('https://shining-fire-8454.firebaseio.com/fixtures/');
            var golfers_ref = new Firebase('https://shining-fire-8454.firebaseio.com/golfers/');

            $scope.fixtures = $firebase(fixtures_ref);
            $scope.golfers = $firebase(golfers_ref);

            $scope.addFixture = function(home, away) {
                fixtures_ref.push({"timestamp": 0, "result": "#{home} beat #{away}", "stats": [{"golfer": "#{home}", "win": 1}, {"golfer": "#{away}", "lose": 1}]});
            };
      
        }
    ]);
    </script>
</body>

</html>