<html>

<head>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <title>Summer League</title>
</head>

<body ng-app="league" ng-controller="LeagueCtrl">

    <div class="well col-sm-6 col col-sm-offset-3">
        <!--<pre>{{ table }}</pre>-->
        <table class="table table-striped">
            <tr>
                <th>Golfer</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>Pts</th>
            </tr>
            <tr ng-cloak ng-repeat="value in trows|orderBy:'(win * 3) + draw':true">
                <td>{{ value.name }}</td>
                <td>{{ value.win }}</td>
                <td>{{ value.draw }}</td>
                <td>{{ value.lose }}</td>
                <td>{{ (value.win * 3) + value.draw }}</td>
            </tr>
        </table>
    </div>

    <div class="well col-sm-6 col-sm-offset-3">
        <!-- <pre>{{ fixtures }}</pre> -->
        <ul>
            <li ng-cloak ng-repeat="(key, fixture) in fixtures">
                <em>{{fixture.timestamp | date:'mediumDate'}}</em>
                <span class="pull-right">
                    {{fixture.result}}
                    <a href="" ng-click="deleteFixture(key)">X</a>
                </span>
            </li>
        </ul>
    </div>

    <div class="well col-sm-6 col-sm-offset-3">
        <form name="fixform" class="form-horizontal" novalidate>
            <select class="form-control" name="home" ng-model="home">
                <option ng-repeat="golfer in golfers" value="{{ golfer.name }}" />{{ golfer.name}}</option>
            </select>
            beat
            <select class="form-control" name="away" ng-model="away">
                <option ng-repeat="golfer in golfers" value="{{ golfer.name }}" />{{ golfer.name}}</option>
            </select>
            <input type="button" class="btn btn-success" value="Add Result" ng-click="addFixture()">
            <input type="button" class="btn" value="Generate Table" ng-click="generateTable()">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript">
    angular.module('league', ['firebase']).controller('LeagueCtrl', ['$scope', '$firebase',
        function($scope, $firebase) {
            var fixtures_ref = new Firebase('https://shining-fire-8454.firebaseio.com/fixtures/');
            var golfers_ref = new Firebase('https://shining-fire-8454.firebaseio.com/golfers/');

            $scope.fixtures = $firebase(fixtures_ref);
            $scope.golfers = $firebase(golfers_ref);

            $scope.generateTable = function() {
                var table = {};
                angular.forEach($scope.golfers, function(value, key) {
                    if (value.name) {
                        table[value.name] = {
                            "name": "" + value.name,
                            "win": 0,
                            "lose": 0,
                            "draw": 0
                        };
                    }
                });

                angular.forEach($scope.fixtures, function(fvalue, fkey) {
                    if (fvalue.stats) {
                        angular.forEach(fvalue.stats, function(svalue, skey) {
                            if (table[svalue.golfer]) {
                                angular.forEach(["win", "lose", "draw"], function(type) {
                                    if (svalue[type]) {
                                        table[svalue.golfer][type] = table[svalue.golfer][type] + svalue[type];
                                    }
                                });
                            }
                        });
                    }
                });

                $scope.trows = _.values(table);
            };

            $scope.fixtures.$on('loaded', function(data) {
                console.log(data);
                // $scope.$apply(); -- doesn't work as expected!!
            });

            $scope.$watch('fixtures', $scope.generateTable, true);

            $scope.addFixture = function() {
                if ($scope.home && $scope.away) {
                    fixtures_ref.push({
                        "timestamp": new Date().getTime(),
                        "result": $scope.home + " beat " + $scope.away,
                        "stats": [{
                            "golfer": "" + $scope.home,
                            "win": 1
                        }, {
                            "golfer": "" + $scope.away,
                            "lose": 1
                        }]
                    });
                }
            };

            $scope.deleteFixture = function(id){
              var itemRef = new Firebase('https://shining-fire-8454.firebaseio.com/fixtures/' + id);
              itemRef.remove();
            };
        }
    ]);
    </script>
</body>

</html>
